.RobotoLight16 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.RobotoRegular16 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.OpensansLight16 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.OpensansRegular16 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.OpensansMedium16 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
